/* Home Page
===========*/

p {
  font-size: 15px;
}

.quiz {
  margin-bottom: 30px;
  -webkit-box-shadow: 0 6px 15px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 6px 15px 0px rgba(0,0,0,0.5);
  box-shadow: 0 6px 15px 0px rgba(0,0,0,0.5);
  padding: 17px 25px;
  border-radius: 6px;
  background-color: #262626;
}

.quiz__title {
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 7px;
}

.quiz__usertitle-wrap {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.user__manage {
  display: inline-block;
  position: relative;
}

.manage__list {
  padding: 0;
  margin: 0;
  display: none;
  list-style: none;
  -webkit-box-shadow: 0 6px 8px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 6px 8px 0px rgba(0,0,0,0.3);
  box-shadow: 0 6px 8px 0px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #34264a;
  position: absolute;
  right: 0;
  top: 25px;
  width: 200px;
}

.show {
  display: block !important;
}

.list__item {
  display: block;
  padding: 10px 20px;
  font-size: 14px;
  transition: 0.4s;
  color: #dedede;
}

.list__item:hover {
  color: #fff;
  background-color: #4b376b;
  text-decoration: none;
}

.list__item:focus {
  outline: 0;
}

.list__item_delete {
  background-color: #34264a;
}

.list__item_delete {
  border: 0;
  display: block;
  width: 100%;
  text-align: left;
}

.list__item_delete:focus {
  outline: 0;
}

.item__span {
  margin-left: 5px;
}

.fa-trash {
  margin-right: 2px;
}

.link__p {
  font-size: 0px;
  display: inline;
}

.custom-alert {
  width: 300px;
  padding: 8px 15px;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-150px);
  text-align: center;
}

.fa-link_alert {
  color: #bf1b91;
  margin-left: 10px;
}

.quiz__photo {
  max-width: 100%;
}

.quiz__level, .quiz__category {
  padding: .105rem .75rem;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.quiz__level:focus {
  box-shadow: none;
}

.btn-hard {
  background-color: #e3623b;
  color: #fff;
}

.btn-hard:hover {
  background-color: #c25432;
  color: #fff;
}

.quiz__likes, .quiz__comments {
  display: inline-block;
  margin-top: 20px;
  font-size: 16px;
}

.bookmarked {
  color: #f0d90a;
}

.quiz__views-home {
  display: inline-block;
  margin-bottom: 18px;
}

.quiz__category {
  background-color: #1c1c1c;
  color: #fff;
  margin-left: 8px;
  border: 1px solid #1c1c1c;
}

.quiz__category:hover {
  color: #fff;
}

.quiz__category:focus {
  box-shadow: none;
}

.quiz__date-home {
  margin-left: 5px;
}

.fa-eye-home {
  margin-right: 4px;
  color: #c4c2c2;
  font-size: 13px;
}

.liked-heart {
  color: #f54545 !important;
}

.btn-join {
  background-color: #34264a;
  outline: none;
  border: 0;
  padding: 7px 20px;
  color: #fff;
}

.btn-join:focus {
  -webkit-box-shadow: 0 0 0 .2rem #34264a;
  -moz-box-shadow: 0 0 0 .2rem #34264a;
  box-shadow: 0 0 0 .2rem #34264a;
}

.btn-join:hover {
  color: #fff;
  background-color: #4b376b;
}

/* Modal */

.modal {
  display: none;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
  overflow: auto;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.modal-content {
  animation-name: modal-animate;
  animation-duration: 0.5s;
  background-color: #262626;
  padding: 20px 50px;
  color: #fff;
  display: inline-block;
  max-width: 500px;
  position: relative;
}

.modal__close {
  font-size: 25px;
  font-weight: bold;
  color: #bf1b91;
  float: right;
  position: absolute;
  top: 0;
  right: 20px;
  cursor: pointer;
}

.modal__close:hover {
  color: #a3177b;
}

.modal-body {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}


/* Pagination */

.pagination {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-pagination {
  background-color: #bf1b91 !important;
  color: #fff;
  border: 0;
  transition: 0.4s;
}

.active-pagination:hover {
  background-color: #a3177b !important;
  color: #fff;
}

.page-link {
  border: 0;
  color: #fff;
  background-color: #34264a;
}

.page-link:hover {
  color: #fff;
  background-color: #4b376b;
}

.page-link:focus {
  box-shadow: none;
}


/* Detail Page
=============*/

.detail-container {
  -webkit-box-shadow: 0 4px 12px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 4px 12px 0px rgba(0,0,0,0.3);
  box-shadow: 0 4px 12px 0px rgba(0,0,0,0.3);
  padding: 15px 50px;
  margin-bottom: 20px;
  background-color: #262626;
}


/* Quiz detail section */

.quiz-detail__title {
  text-align: center;
  margin-bottom: 23px;
  font-family: 'Roboto Condensed', sans-serif;
}

.quiz-detail__left-wrap {
  padding-right: 50px;
}

.quiz-detail__left-wrap p {
  font-size: 16px;
}

.quiz-detail__photo {
  width: 100%;
  margin-bottom: 30px;
}

.quiz-detail__parameters {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.fa-clock {
  margin-right: 6px;
}

.quiz__likes-detail {
  display: inline-block;
}

.quiz-detail__btn-start {
  margin-top: 20px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.btn-start, .quiz-create__btn, .quiz-update__btn {
  padding: 8px 55px;
}

.quiz__likes-detail, .quiz__comments-detail {
  font-size: 18px;
}


/* Comment section */

.comment {
  margin-bottom: 10px;
}

.comment__username-wrap {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.comment__date {
  color: #bdbdbd;
}

.user__img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 6px;
}

.form__wrap {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment_create_body {
  background-color: #212121 !important;
}

.form__btn {
  margin-top: 20px;
}

.form__btn:focus {
  outline: 0;
}

.form__submit {
  font-size: 25px;
  color: #bf1b91;
}

.form__btn {
  background-color: #262626;
  outline: 0;
  border: 0;
}

.date-delete__delete {
  opacity: 0.7;
  color: #b84242;
  transition: 0.4s;
  background-color: #262626;
  border: 0;
}

.date-delete__delete:hover {
  color: #ed4a4a;
  opacity: 1;
}

.date-delete__delete:focus {
  outline: 0;
}

.comment__date {
  flex: 2;
  text-align: right;
  margin-right: 15px;
}


/* Quiz create and update page
============================*/

.quiz-create, .quiz-update {
  margin: 0 auto;
}

.quiz-create__btn-wrap, .quiz-update__btn-wrap {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}

.quiz-create__btn, .quiz-update__btn {
  margin-top: 20px;
}



@keyframes modal-animate {
 from {top:-320px; opacity:0}
 to {top:0; opacity:1}
}
