/* Home Page
===========*/

p {
  font-size: 15px;
}

.quiz {
  margin-bottom: 40px;
  -webkit-box-shadow: 0 6px 12px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 6px 12px 0px rgba(0,0,0,0.3);
  box-shadow: 0 6px 12px 0px rgba(0,0,0,0.3);
  padding: 15px 18px;
  border-radius: 6px;
}

.quiz__title {
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 15px;
}

.quiz__level, .quiz__category {
  padding: .105rem .75rem;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.quiz__level:focus {
  box-shadow: none;
}

.btn-hard {
  background-color: #e3623b;
  color: #fff;
}

.btn-hard:hover {
  background-color: #c25432;
  color: #fff;
}

.quiz__likes, .quiz__comments {
  margin-top: 15px;
  font-size: 16px;
}

.quiz__views-home {
  display: inline-block;
  margin-bottom: 8px;
}

.quiz__category {
  background-color: #1c1c1c;
  color: #fff;
  margin-left: 8px;
  border: 1px solid #1c1c1c;
}

.quiz__category:hover {
  color: #fff;
}

.quiz__category:focus {
  box-shadow: none;
}

.quiz__date-home {
  margin-left: 5px;
}

.fa-eye-home {
  margin-right: 4px;
  color: #c4c2c2;
  font-size: 13px;
}

.liked-heart {
  color: #f54545 !important;
}

.btn-join {
  background-color: #34264a;
  outline: none;
  border: 0;
  padding: 7px 20px;
  color: #fff;
}

.btn-join:focus {
  -webkit-box-shadow: 0 0 0 .2rem #34264a;
  -moz-box-shadow: 0 0 0 .2rem #34264a;
  box-shadow: 0 0 0 .2rem #34264a;
}

.btn-join:hover {
  color: #fff;
  background-color: #4b376b;
}


/* Pagination */

.pagination {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-pagination {
  background-color: #bf1b91 !important;
  color: #fff;
  border: 0;
  transition: 0.4s;
}

.active-pagination:hover {
  background-color: #a3177b !important;
  color: #fff;
}

.page-link {
  border: 0;
  color: #fff;
  background-color: #34264a;
}

.page-link:hover {
  color: #fff;
  background-color: #4b376b;
}

.page-link:focus {
  box-shadow: none;
}


/* Detail Page
=============*/

.detail-container {
  -webkit-box-shadow: 0 4px 12px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 4px 12px 0px rgba(0,0,0,0.3);
  box-shadow: 0 4px 12px 0px rgba(0,0,0,0.3);
  padding: 15px 100px 25px 100px;
  margin-bottom: 20px;
}


/* Quiz detail section */

.quiz-detail__photo {
  width: 100%;
  margin-bottom: 30px;
  border-radius: 5px;
}

.quiz-detail__title {
  text-align: center;
  margin-bottom: 23px;
  font-family: 'Roboto Condensed', sans-serif;
}

.quiz__likes-detail {
  display: inline-block;
}

.quiz-detail__btn-start {
  margin-top: 20px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.btn-start {
  padding: 8px 55px;
}

.quiz__likes-detail, .quiz__comments-detail {
  font-size: 18px;
}


/* Comment section */

.comment {
  margin-bottom: 10px;
}

.comment__username-wrap {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.comment__date {
  color: #bdbdbd;
}

.user__img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 6px;
}
