body {
  background-color: #212121;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}


/* Header and footer
====================*/

header, footer {
  padding: 7px 0;
  background-color: #34264a;
}

header {
  margin-bottom: 20px;
}

.header__wrapper, .footer__wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav, .footer__nav {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  list-style: none;
  align-items: center;
}

.logo__img {
  height: 35px;
}

.nav__item, .footer-nav__item, .footer__rules {
  margin-left: 30px;
  color: #bababa;
}

.nav__item {
  font-size: 17px;
  transition: 0.4s;
}

.nav__item:hover {
  color: #fff;
  text-decoration: none;
}

.footer-nav__item, .footer__rules {
  font-size: 15px;
}

.footer-nav__item:first-child {
  margin-left: 0;
}

.nav__item:first-child {
  margin-left: 0;
}

.active {
  border-bottom: 2px solid #bf1b91;
  color: #fff;
}

.profile__btn-create {
  padding: 5px 20px;
  border-radius: 15px;
  background-color: #bf1b91;
  border: 0;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
}

.profile__btn-create:hover {
  background-color: #9e1878;
  color: #fff;
}

.profile__btn-create:focus {
  -webkit-box-shadow: 0 0 0 .2rem #34264a;
  -moz-box-shadow: 0 0 0 .2rem #34264a;
  box-shadow: 0 0 0 .2rem #871467;
}

.profile__img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.profile__name {
  margin-left: 15px;
}
