{% extends 'base.html' %}

{% load static %}

{% block title %}Создать викторину{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}

<div class="container complete-container">
    <div class="complete_wrap">
        <div class="complete">

            <div class="congratulation">
                <h1 class="complete__title">
                    {{ passing_status }}
                </h1>
                <span class="complete__span_count">Ты ответил на:</span>
                <h2 class="complete__count">{{ correct_answers }} из {{ all_answers }}</h2>
            </div>

            <div class="row complete__parameters">
                <div class="col-lg-6">
                    <h5 class="complete__xp">
                        <span class="complete__span">Опыт XP:</span> {{ user.profile.xp }}
                    </h5>
                    <h5 class="complete__level">
                        <span class="complete__span">Уровень:</span> {{ user.profile.level }}</h5>
                </div>

                <div class="col-lg-6 complete__plus">
                    <h5 class="complete__xp_green">+ {{ increased_xp }}</h5>
                    <h5 class="complete__level_green">{% if level_up %}+ Новый уровень{% endif %}</h5>
                </div>
            </div>

            <div class="complete__btn_div">
                <a href="{% url 'home' %}" class="btn complete__btn">На главную</a>
            </div>

        </div>
    </div>
</div>

{% endblock %}