{% load static %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QuizApp | {% block title %}{% endblock %}</title>
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css"
    integrity="sha384-rtJEYb85SiYWgfpCr0jn174XgJTn4rptSOQsMroFBPQSGLdOC5IbubP6lJ35qoM9"
    crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    {% block links %}{% endblock %}
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header__wrapper">

          <nav class="header__nav">
            <div class="nav__logo">
              <img class="logo__img" src="{% static 'img/logo.png' %}">
            </div>
            <a href="#" class="nav__item active">Главная</li>
            <a href="#" class="nav__item">Топ викторин</li>
            <a href="#" class="nav__item">Мои викторины</li>
          </nav>

          <div class="header__profile">
            <a href="#" class="profile__btn-create btn mr-4">
              Создать <i class="fas fa-plus ml-1"></i>
            </a>
            <img class="profile__img" src="{% static 'img/testuser.png' %}">
            <i class="fas fa-angle-down ml-2"></i>
            <span class="profile__name">{{ user.username }}</span>
          </div>

        </div>
      </div>
    </header>

    <div class="content">
      {% block content %}
      {% endblock %}
    </div>

    <footer>
      <div class="container">
        <div class="footer__wrapper">

          <nav class="footer__nav">
            <li class="footer-nav__item">Политика</li>
            <li class="footer-nav__item">Правила</li>
            <li class="footer-nav__item">Пользование</li>
          </nav>

          <div class="footer__rules">@ Все права защищены {% now "Y" %}</div>

        </div>
      </div>
    </footer>
  </body>
</html>
