{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Главная{% endblock %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">

    <div class="col-lg-8 col-sm-12">

      {% for quiz in quizzes %}
      <div class="quiz">
        <h4 class="quiz__title">{{ quiz.title }}</h4>
        
        <p class="quiz__body">
          {% if quiz.body|length > 150 %}
            {{ quiz.body|slice:':150' }}...
          {% else %}
            {{ quiz.body }}
          {% endif %}
        </p>

        <button type="button" class="quiz__level btn
        {% if quiz.level == 'Легко' %}btn-success{% endif %}
        {% if quiz.level == 'Средне' %}btn-primary{% endif %}
        {% if quiz.level == 'Сложно' %}btn-hard{% endif %}
        {% if quiz.level == 'Экстремально' %}btn-danger{% endif %}
        ">
          {{ quiz.level }}
        </button>

        <p class="quiz__likes">
          {% if user in quiz.likes.all %}
            <i class="fas fa-heart liked-heart"></i>
          {% else %}
            <i class="far fa-heart"></i>
          {% endif %}
          {{ quiz.get_likes_count|intcomma }}
        </p>

        <span class="quiz__views pr-3">
          <small><i class="far fa-eye"></i> {{ quiz.views|intcomma }}</small>
        </span>|
        <span class="quiz__date pl-3"><small>{{ quiz.date|naturaltime }}</small></span><br>

        <a href="#" class="mt-3 btn btn-join btn-block">Пройти</a>
      </div>
      {% endfor %}

    </div>

  </div>
</div>
{% endblock %}
