{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}{{ quiz.title }}{% endblock %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div class="container detail-container">

  <!-- Quiz detail section -->
  <section class="quiz-detail">
    <h2 class="quiz-detail__title">{{ quiz.title }}</h2>
    <h6 class="quiz-detail__body mb-3">{{ quiz.body }}</h6>

    {% if quiz.photo %}
    <img src="{{ quiz.photo.url }}" class="quiz-detail__photo" alt="Photo">
    {% endif %}

    <button class="btn quiz__level mb-3
    {% if quiz.level == 'Легко' %}btn-success{% endif %}
    {% if quiz.level == 'Средне' %}btn-primary{% endif %}
    {% if quiz.level == 'Сложно' %}btn-hard{% endif %}
    {% if quiz.level == 'Экстремально' %}btn-danger{% endif %}">
      {{ quiz.level }}
    </button>

    {% if quiz.category %}
    <button class="btn quiz__category mb-3">{{ quiz.category }}</button><br/>
    {% endif %}

    <hr>

    <span class="quiz__views pr-2">
      <i class="far fa-eye"></i> {{ quiz.views|intcomma }}
    </span> |

    <span class="quiz__completed pl-2">
      Пройдено: {{ quiz.get_completed_count }}
    </span>

    <p class="quiz__date mt-2">
      <i class="far fa-clock mr-1"></i> {{ quiz.date|naturaltime }}
    </p>

    <span class="quiz__likes quiz__likes-detail mt-4">
      {% if user in quiz.likes.all %}
        <i class="fas fa-heart liked-heart"></i>
      {% else %}
        <i class="far fa-heart"></i>
      {% endif %}
      {{ quiz.get_likes_count|intcomma }}
    </span>

    <span class="quiz__comments quiz__comments-detail ml-3">
      <i class="far fa-comment"></i> {{ quiz.get_comments_count }}
    </span>

    <div class="quiz-detail__btn-start">
      <a href="#" class="btn btn-join btn-start">Начать</a>
    </div>
  </section>

  <!-- Comments section -->
  <section class="comments">
    {% for comment in quiz.comments.all %}
    <hr>
    <div class="comment">

      <div class="comment__username-wrap">
        <div class="user">
          <img class="user__img" src="/static/img/testuser.png" alt="Photo">
          <span class="user__username">{{ comment.author.username }}</span>
        </div>

        <p class="comment__date">{{ comment.date|naturaltime }}</p>
      </div>

      <p class="comment__body">{{ comment.body }}</p>

    </div>
    {% endfor %}
  </section>

</div>
{% endblock %}
